PYNQ/latch/ip_repo/latch_control/src/countone/* linguist-vendored
PYNQ/latch/ip_repo/latch_control/xgui/* linguist-vendored
PYNQ/latch/block_design.tcl linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/constraints/* linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/doc/* linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/drivers/countone_v1_0/data/* linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/drivers/countone_v1_0/src/* linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/hdl/verilog/* linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/hdl/vhdl/* linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/misc/* linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/xgui/* linguist-vendored
PYNQ/TC-TERO/ip_repo/countone/* linguist-vendored
PYNQ/TC-TERO/ip_repo/TC_TERO/src/* linguist-vendored
PYNQ/TC-TERO/ip_repo/TC_TERO/src/user/* linguist-vendored
PYNQ/TC-TERO/ip_repo/TC_TERO/xgui/* linguist-vendored
PYNQ/TC-TERO/ip_repo/TC_TERO/* linguist-vendored
PYNQ/TC-TERO/block_design.tcl linguist-vendored